.headerBlock {
    grid-area: h;
    background-color: #7d93bd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 38px;
    padding: 6px 20px;
}

.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    /*width: 70vw;*/
    justify-content: space-between;
}

.userInfo {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
    }
}