.dialogsWrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
}
.dialogs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.messages {
    min-width: 300px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    height: 80vh;
}
.choose {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose img{
    width: 200px;
    height: 200px;
}
