
.status{
    background-color: var(--background);
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
}
.editModeStatus {
    font-size: 16px;
    font-weight: 500;
    background-color: var(--background);
    color: var(--color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
}
