.item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item a {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: flex;
    gap: 10px;
}
.item a:hover{
    color: white;
    background-color: #7d93bd;
}
.item a.activeLink{
    color: #10c2c2;
}

.dialogAva{
    height: 40px;
}