.postsBlock {
}

.addPostWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: white;
}

.posts {
    margin-top: 10px;
    background-color: white;
    padding: 30px;
}

.textarea {
    width: 700px;
    height: 50px;
    padding: 20px;
}


.addPost {
    padding: 5px 24px;
    font-family: 'Montserrat', 'monospace';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background: #0066CC;
}

.addPost:hover {
    background: #0080FF;
}

.addPost:active {
    background: #0059B3;
}