.myMessage {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}
.myImageAndText {
    display: flex;
    align-items: flex-end;
}
.myAvatar {
    height: 50px;
    z-index: 2;
    border-radius: 50%;
}
.myText {
    position: relative;
    z-index: 1;
    background: #7d93bd;
    color: #fff;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    padding: 10px 15px;
    margin-left: 15px;

}
.myText::after,
.myText::before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 1.8em;
    height: 1.8em;
    border: 0.5em solid white;
    border-radius: 50%;
    background: white;
}
.myText::before {
    border-top: none;
    height: 0.9em;
    border-radius: 0 0 0 50% / 0 0 100% 100%;
    background: #7d93bd;
    border-color: #7d93bd;
    margin-right: -0.9em;
}
.myName {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}
.myMessageText {
    display: flex;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-word;
}
.myTime {
    display: flex;
    padding: 3px 0 30px 5px;
    font-weight: bold;
}


