.formDataWrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.formDataWrapper input{
    background-color: var(--background);
    color: var(--color);
    width: 250px;
    padding: 0.5rem;
    border: 1px solid var(--color);
    border-radius: 0.2rem;
    font-size: 1.2rem;
}

.select{
    background-color: var(--background);
    color: var(--color);
    border: 1px solid var(--color);
    text-align: center;
    font-size: 18px;
}

.sendData{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.sendData:hover{
    background: #044688;
}

.sendData:active{
    background: #0059B3;
}
.sendData:disabled{
    background: #5a86a8;
}
@media (max-width: 768px) {
    .formDataWrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .formDataWrapper input {
        width: 80%;
    }
    .select {
        width: 80%;
    }
}