.app-wrapper {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h h"
            "n c s";
    grid-gap: 20px;
}
.app-wrapper-content {
    grid-area: c;
}




