.app-wrapper {
    display: grid;
    width: 80vw;
    margin: 0 auto 16px auto;
    grid-template-rows: 44px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
            "h h h"
            "n c s";
    grid-gap: 20px;
}
.app-wrapper-content {
    grid-area: c;
}

.app-wrapper-footer {
    grid-area: f;
    width: 100%;
}


