.header {
    display: flex;
    align-items: center;
    grid-area: h;
    background-color: #7d93bd;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 10px;
}

.imgLog {
    cursor: pointer;
}

.loginBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

