.header {
    display: flex; /* Делаем блок .header flex-контейнером */
    align-items: center;
    grid-area: h;
    background-color: #7d93bd;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.header img {
    width: 58px;
    border-radius: 36px;
    margin-left: 5px;
}

.loginBlock{
    float: right;

}
.loginBlock a {
    color: lightseagreen;
    font-size: 20px;
    text-decoration: none;
}