.nav {
    grid-area: n;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 160px;
}
.nav a {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.lastLink{
    margin-top: 40px;
}

.nav a:hover{
    color: white;
    background-color: #7d93bd;
}
.nav a.activeLink{
    color: white;
    background-color: #7d93bd;
}
.icon{
    height: 20px;
    margin-right: 5px;
}