.formControl{
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
}
.formLabel p{
    margin: 0;
}
.formControl input{
    width: 250px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    font-size: 1.2rem;
}
.rememberMy{
    display: flex;
    justify-content: start;
}
.captcha{
    width: 120px;
    height: 50px;
}
.btn{
    margin: 20px auto 0 auto;
    background: #06C;
    font-size: 19px;
    color: #FFF;
    border: 0;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 20px;
    width: 70%;
}
.btn:hover{
    background: #0080FF;
}
.btn:active{
    background: #0059B3;
}
.btn:disabled{
    opacity: 0.5;
}
.formSummaryError{
    color: red;
}


