.profileInfoWrapper {
    background-color: white;
    margin-bottom: 30px;
    padding: 30px;
}
.descriptionBlock {
    display: flex;
    justify-content: space-around;
}
.avatarAndStatusBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



