.profileInfoWrapper {
    background-color: white;
    margin-bottom: 30px;
    padding: 30px;
}

.descriptionBlock {
    display: flex;
    justify-content: center;
}

.imgAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.2s ease-in-out;
}
.imgAvatar:hover {
    transform: scale(1.1);
}


.descriptionWrapper{
    display: flex;
    flex-direction: column;
}
.description {
    font-size: 20px;
    margin-top: 10px;
    color: #0e0d0d;
    display: flex;
    flex-direction: column;
}
