.messagesWrapper{
    padding: 10px;
    position: relative;
    height: 100%;
}
.messages {
    height: 70%;
    overflow-y: auto;
    padding-right: 10px;
    scroll-behavior: smooth;
    padding-bottom: 80px;
}

.addItemFormBlock{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}

@media (max-width: 768px) {
    .messages {
        height:85%;
        padding-bottom: 0;
    }

    .addItemFormBlock {
        padding: 10px;
        bottom: 10px;
    }
}