.item {
    background: linear-gradient(to bottom, #fff, #f2f2f2);
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin-bottom: 20px;
    position: relative;
    min-height: 70px;
    color: black;
}
.userPhoto {
    position: absolute;
    height: 60px;
    border-radius: 50%;
    left: 5px;
    top: 5px;
}
.loginAndDate{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:8px;
    left: 75px;
}
.postMessage {
    margin-top: 20px;
    margin-left: 22px;
}
.message {
    font-size: 18px;
    word-break: break-all
}
.activities {
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding-left: 30px;
}
.activities img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}



