.loginWrapper{
    width: 100vh;
    background-color: white;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.title {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px #ccc;
}