.loginWrapper{
    background-color: white;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    text-align: center;
}
.title{
    font-size: 50px;
    font-weight: bold;
}