.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #f4f2f2;
}

.dialogsItems {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-right: 20px;
    background-color: white;
}

.messages {
    padding: 10px;
    background-color: white;
}

.choose {
    margin-top: 200px;
    text-align: center;
}

