.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
}
.dialogsItems {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: white;
}
.messages {
    padding: 10px;
    background-color: white;
}
.choose {
    height: 60vh;
    margin-top: 200px;
    text-align: center;
}

