.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: white;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: black;
}