.myMessage {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}
.myImageAndText {
    display: flex;
    align-items: flex-end;
}
.myAvatar {
    height: 50px;
    z-index: 2;
    border-radius: 50%;
}
.myText {
    position: relative;
    z-index: 1;
    background: #7d93bd;
    border-radius: 10px 10px 10px 0;
    padding: 10px 15px;
    margin-left: 15px;
}
.myText::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #7d93bd;
}
.myName {
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}
.myMessageText {
    display: flex;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-word;
}
.myTime {
    display: flex;
    padding: 3px 0 30px 5px;
    font-weight: bold;
}


